<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>

<h1>
    {{ username }}
</h1>

<p>
    <a href="/login/"> 登录 </a>
</p>
<p>
    <a href="/cart/"> 购物车 </a>
</p>
<p>
    <a href="/logout/"> 退出 </a>
</p>
<p>
    <a href="/home/"> home页面 </a>
</p>

<br>
<p>
    <a href="/createall/"> 创建表单 </a>
</p>
<p>
    <a href="/dropall/"> 删除表单 </a>
</p>
<p>
    <a href="/adduser/"> 添加用户 </a>
</p>
<p>
    <a href="/showuser/"> 显示用户 </a>
</p>


</body>
</html>